* {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  align-self: center;
  display: block;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

p { 
  font-size: 16px;
}

/* Breathing Animation - Begin */
#breathing-animation {
  -webkit-animation: breathing 3.5s ease-out infinite normal;
  animation: breathing 3.5s ease-out infinite normal;  
  }

@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
}

/* Breathing Animation - End */
